ion-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  transition: transform 0.2s ease, color 0.2s ease;
}

ion-icon:hover {
  color: red;
  transform: scale(1.2);
}

.navbar-brand {
  display: block;
  width: 55px;
  height: 55px;
  background-image: url(../imagenes/isotipo_chico.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}


body {
  font-family: Segoe UI, sans-serif;
  text-align: justify;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(black, rgb(10, 10, 10));
}

.nav-item {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  color: white;
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-item:hover {
  transform: scale(1.2);
}

.btn{

background-color: rgba(255, 0, 0, 0.575);
color: white;

}

.card-body{
  text-align: justify;

}

h2{

color: rgba(255, 0, 0, 0.89);

}

@media (max-width: 576px) {
  .navbar-brand {
    height: 40px;
    margin: 5px;
  }
}
